@import "tailwindcss";

@tailwind utilities;

:root {
    --background: #fff;
    --foreground: #686868;
    --primary: #F7941E;
    --primary-foreground: #F7941E;
    --secondary: #1CBBB4;
    --secondary-foreground: #1CBBB4;
    --destructive: #ED145B;
    --destructive-foreground: #ED145B;
    --green: #73BE48;
    --green-foreground: #73BE48;
    --warm: #FFF0E5;
    --cream-foreground: #fff;
    --muted: #000;
    --muted-foreground: #000;
}

/* ------- btn style with hover start ------- */

.btn {
    position: relative;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    padding: 20px 30px;
    border-radius: 6px;
    overflow: hidden;
    max-height: 60px;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--secondary);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    border-radius: 6px;
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    color: var(--cream-foreground);
}

.btn-rounded-full {
    max-height: 60px;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    padding: 20px 30px;
    border-radius: 45px;
    background-color: var(--primary);
    color: var(--cream-foreground);
    line-height: normal;
    border: 2px solid transparent;
}

.btn-rounded-full:hover {
    background-color: transparent;
    color: var(--primary-foreground);
    border: 2px solid var(--primary);
}

@media(max-width:1024px) {

    .btn,
    .btn-rounded-full {
        padding: 10px 30px;
    }
}

@keyframes left-right {
    50% {
        transform: translateX(14px);
    }
}

.animate-left-right {
    animation: left-right 2s linear infinite;
}

@keyframes left-right-2 {
    50% {
        transform: translateX(-40px);
    }
}

.animate-left-right-2 {
    animation: left-right-2 4s linear infinite;
}

@keyframes skw {
    0%,
    100% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewX(5deg);
    }
}

.animate-skw {
    animation: skw 2s linear infinite;
}

@keyframes up-down {
    50% {
        transform: translateY(-10px);
    }
}

.animate-up-down {
    animation: up-down 2s linear infinite;
}

.font-bubblegum-sans{
  font-family: Bubblegum Sans;
}

.font-jost{
  font-family: Jost;
}

.font-nunito{
  font-family: Nunito;
}